
<form action="/">
	<div class="d-flex align-items-center justify-content-center p-5">
		<input type="text" name="name" class="input-control" placeholder="Type Currency Name to find a specific currency" value="<%= @search_value %>" style="min-height: 40px">
		<button type="submit" class="btn btn-success" style="min-height: 40px">Search</button>
	</div>
</form>

<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>24h</th>
				<th>7d</th>
				<th>24th Volume</th>
				<th>Market Cap</th>
			</tr>
		</thead>
		<tbody>
			<% @currencies.each do |currency| %>
				<tr>
					<td><%= currency.name.humanize %></td>
					<td><%= currency.total_price %></td>
					<td class="<%= currency.one_day_market.to_f >= 0 ? 'text-success' : 'text-danger' %>"><%= currency.one_day_market %>%</td>
					<td class="<%= currency.seven_day_market.to_f >= 0 ? 'text-success' : 'text-danger' %>"><%= currency.seven_day_market %>%</td>
					<td><%= currency.one_day_volume %></td>
					<td><%= currency.calculate_market_cap %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>